---
import '../assets/styles/style.css';
import Ornament from '../components/Ornament';
export type Props = {
  title?: string
  type?: string
  description?: string
  overrideTitle?: boolean
  canonical?: string
  date?: string
  sharingImageUrl?: string
}

const { pathname } = Astro.url
const url = Astro.url.toString()
const isHome = pathname === '/'
const baseUrl = 'https://haikalrahmadi.cloud'



let {
  title = 'M. Haikal Rahmadi',
  sharingImageUrl = '/og-image.png',
  type = 'website',
  description = "Hi,Haikal here. Welcome to my personal website!",
 
} = Astro.props as Props


sharingImageUrl = `${baseUrl}${sharingImageUrl}`

import Navbar from '../components/Header/Navbar.astro';
import BubbleAnimation from '@components/Bubble';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta property="og:url" content={url} />
    <meta property="og:type" content={type} />
    <meta property="og:title" content={title} />
    <meta property="og:image" content={sharingImageUrl} />
    <meta property="og:description" content={description} />
    <meta property="og:site_name" content="Haikal Rahmadi" />
    <meta name="twitter:site" content="@haikalrahmadi" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="author" content="Haikal Rahmadi" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <!-- <link rel="manifest" href="/site.webmanifest" /> -->
    <meta name="google-site-verification" content="i3x-KLX0C0txZUp28NsMrU8jIdjktOPOSjvMyHyOeTs" />
    <title>{title}</title>
  </head>
  <body>
    
    <div class="main-section overflow-x-hidden dark:bg-slate-900">
      <Ornament client:load className="ornament-circle-style-1" />
      <Ornament client:load className="ornament-circle-style-2" />
      <BubbleAnimation client:load />
      <!-- <div class="overlay"></div> -->
      <Navbar />
      <slot />
    </div>
  </body>
</html>
<style is:global>
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
  }
  html {
    font-family: system-ui, sans-serif;
    background-color: #f6f6f6;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
      Bitstream Vera Sans Mono, Courier New, monospace;
  }

  /* .navbar-nav{
	max-width: 80ch;
  } */
</style>
